<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formTeste = 'ngForm'>
    <ion-item>
      <ion-label position ='floating'> Nome </ion-label>
      <ion-input #nome='ngModel' type ='text' [(ngModel)] ='pessoa.nome' name='nome' required > </ion-input>

      <span style='color:red' *ngIf="nome.errors && nome.touched">
        <ion-label>O nome é obrigatório </ion-label>
      </span>
    </ion-item>

    <ion-item>
      <ion-label position ='floating'> CPF </ion-label>
      <ion-input #cpf='ngModel' type ='text' [(ngModel)] ='pessoa.cpf' name='cpf' required> </ion-input>
      <span style='color:red' *ngIf="cpf.errors && cpf.touched">
        <ion-label>O CPF é obrigatório</ion-label>
      </span>
    </ion-item>



    <ion-button color='dark' [disabled] ='!formTeste.form.valid' (click)='salvar()'> Salvar </ion-button>
  </form>
</ion-content>
